/* Set the background color and font color for the whole page */
body {
  background-color: #f8f8f8;
  color: #333333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Set the color and size for all headings */
h1 {
  color: #222222;
  font-size: 32px;
  margin-top: 20px;
  text-align: center;
}

/* Style the table */
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

table caption {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

table th,
table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
